{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Title -->
                <h1 class="mt-4">{{ article.header }}</h1>

                <!-- Date/Time -->
                <p>Posted on {{ article.pub_date }}</p>

                <hr>

                {{ article.markdown|safe }}

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <div class="card-body">
                        <a href="{% url 'blog:new_comment' article.id %}" class="btn btn-primary">Leave a Comment
                            &rarr;</a>
                    </div>
                </div>

                <ul>
                    {% for comment in article.comment_set.all %}
                        <li>
                            <div class="media mb-4">
                                <div class="media-body">
                                    {{ comment.text }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock %}