{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <h1 class="my-4">Статьи
            </h1>

            {% for article in latest_articles_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{article.header}}</h2>
                        <p>{{ article.pub_date }}</p>
                        <p class="card-text">{{article.markup|safe}}</p>
                        <a href="{% url 'blog:article' article.id %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}